@import 'scss-variables';

#departures-board-page .board {
  width: $board-width;
  min-width: 600px;
  margin: 0 auto;
  padding: 20px 40px;
  border-radius: 10px;
  background: $board-background-color;
  color: $board-font-color;
  font-family: $font;
  font-size: $board-font-size;

  .top-info {
    display: flex;
    text-align: center;
    padding: 20px;
    .top-container{
      width: 20%;
    }
    .central-top-container{
      font-size: $central-title-font-size;
      width: 60%;
      color: $white-texts;
    }
  }
}
